.p-password-input {
  width: 100% !important;
}

.custom-editor .ql-toolbar .ql-formats {
  margin-right: 2px !important;
}
.contentaddheight{
  min-height: 50px !important;
}
@media screen and(max-width:768px) {
  .contentaduj{
   width: 100% !important;
   text-align: center !important;
  }
}
.attachedFiles i {
  margin-right: 8px;
}

.attachedFiles span {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
