.calendar-slider {
  width: 100%;
  overflow: hidden;
  height: 600px;
}
.calendar-slider .text-wrapping {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 45px;
}
.calendar-slider.slick-slider .slick-dots {
  left: 43.8% !important;
  z-index: 999;
  top: 59% !important;
  bottom: 18% !important;
  height: auto !important;
  justify-content: center;
}
.calendar-slider .slick-prev {
    left: 44% !important;
    z-index: 999;
    top:55% !important
  }
.calendar-slider.slick-slider .slick-next {
  left: 44% !important;
  top:85% !important;
  z-index: 999;
  right: initial !important;
}
.calendar-slider .slick-active {
  z-index: 999;
}




/***********************************************
            Responsive
***********************************************/


@media (min-width:1920px){
  /* .custslick-slider.slick-slider .slick-list {
    height: 416px !important;
} */
}

@media (max-width:1440px){
  .calendar-slider.slick-slider .slick-next, .calendar-slider.slick-slider .slick-prev, .custslick-slider.slick-slider .slick-dots {
    left: 46% !important;
  }
}

@media (max-width:1280px){

}


@media (max-width:1024px){
  .custm_dropdown.p-dropdown .p-dropdown-label.p-inputtext.p-placeholder, .custm_dropdown.p-dropdown .p-dropdown-label {
    font-size: 12px;
  }
  .custm-tablist .react-tabs__tab {
    padding: 9px;
    font-size: 14px;
    line-height: 24px;
}
  
}

@media (max-width:991px){
}

@media (max-width:767px){
}

@media (max-width:680px){
  
  
}